__pycache__/
*.py[cod]
*$py.class


.venv/
venv/
env/

.ipynb_checkpoints/


.env


data/raw/*
data/interim/*
data/processed/*
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep


models/*
!models/.gitkeep
*.pkl
*.joblib


reports/figures/*
!reports/figures/.gitkeep


.pytest_cache/
.coverage
htmlcov/


.DS_Store
Thumbs.db


.vscode/
.idea/


.streamlit/*
!.streamlit/config.toml
